*{
    margin: 0%;
    padding: 0%;
}
.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vmin;
    gap: 3vh; 
}
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}
.choice {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vmin;
    gap: 3vh;
}
#heading {
    color: beige;
    background-color: rgb(110, 87, 148);
    width: 100%;
    height: 10vmin;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0%;
}

.rock {
    height: 40vmin;
    border-radius: 100%;
    display: block;
    box-sizing: border-box;
}
.rock:hover{
    border-color: black;
    border: 5px solid black;
    margin: 0%;
    padding: 0%
}
.paper {
    border-radius: 100%;
    height: 40vmin;
    display: block;
    box-sizing: border-box;
}
.paper:hover {
    border-color: black;
    border: 5px solid black ;
}
.scissor {
    border-radius: 100%;
    height: 40vmin;
    box-sizing: border-box;
}
.scissor:hover{
    border-color: black;
    border: 5px solid black;
}
.score-board{
    height: 8vmin;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 5vmin;
}
.score {
    height: 20vmin;
    font-size: 20px;
}
.msg-container{
    height: 5vmin;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#msg {
    background-color: rgb(110, 87, 148);
    color: rgb(250, 252, 249);
    height: 25px;
    width: 150px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}
.button {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.reset {
    background-color: black;
    color: aliceblue;
    height: 5vmin;
    width: 20vmin;
    border-radius: 20px;
}
